* {
    padding:0;
    margin:0;
}

html{
    font:18px normal Arial, sans-serif;
    color:#4f545f;
    background-color:#fff;
}

body{
    text-align: center;
}

ul{
    list-style:none;
    display: inline-block;
    font-size: 94%;
}

ul li{
    display: inline-block;
    padding: 0.6em 1.2em;
    cursor:pointer;
    background-color:#eee;
    color:#7B8585;
    
    transition:0.3s;
}

ul li:hover{
    background-color:#d8beec;
}

ul li.focused{
    color:#fff;
    background-color:#8e41c7;
}

p{
    padding-top:0.2em;
    font-size: 80%;
}

.title{
    margin: 1em;
}