* {
    padding:0;
    margin:0;
}

html{
    font:16px normal Arial, sans-serif;
    color:#3b3f49;
    background-color:#fff;
}

body{
    padding:60px;
    text-align: center;
}

ul{
    list-style:none;
    display: inline-block;
}

ul li{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#7B8585;
    
    transition:0.3s;
}

ul li:hover{
    background-color:#d8beec;
}

ul li.focused{
    color:#fff;
    background-color:#8e41c7;
}

p{
    padding-top:15px;
    font-size:12px;
}

.title{
    margin: 0 0 1em;
}